__pycache__
chroma_data
benchmark/data
em_llm.egg-info
*.jsonl
*result.json
*.log
offload_data
benchmark/config/code/config.py
# Authentication configuration
config/auth.yaml
!benchmark/data/longbench
!benchmark/data/longbench/versicode